/* General Body floating-card search-header*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    color: #fff;
}

/* Search Header */
.search-header {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #0a0a0a;
}

/* Logo Styling */
.logo-container {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    height: auto;
}

/* Registration Container */
.registration-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

/* Button Group */
.button-group {
    margin-bottom: 20px;
}

/* Register Button */
.register-button {
    width: 100%;
    padding: 10px;
    background-color: black;
    border: white solid 1pt;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 5px 0; /* Space between buttons */
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #e67e22;
}

/* Registration Form */
.registration-form {
    margin-top: 20px;
    text-align: left;
}

/* Input Group */
.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

/* Switch Text */
.switch-text {
    margin-top: 15px;
    color: #f39c12;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .registration-container {
        width: 90%; /* Allow more width on smaller screens */
    }
    .logo {
        width: 120px; /* Resize logo on smaller screens */
    }
}

.floating-card {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    /* color: white; */
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 0.5s forwards;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .floating-card.error {
    background-color: #f1d8d5;
    color: red;
  }
  
  .floating-card.success {
    background-color: #2ecc71;
    color: white;
  }
  
  .card-icon {
    width: 24px;
    height: 24px;
  }
  
  .card-message {
    flex-grow: 1;
  }
  
  .close-btn {
    font-size: 20px;
    cursor: pointer;
    color: black;
    padding-left: 10px;
  }
  
  .close-btn:hover {
    color: #ccc;
  }
  
  /* Animation for card appearance */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
